<div>
       <label>
         <input 
           type="radio" 
           name="stockFilter" 
           value="all" 
           [(ngModel)]="selectedFilterRadioButton"
           (change)="onSelectedFilterRadioButtonChanged()" />
         <span>All ({{ all }})</span>
       </label>
     
       <label>
         <input 
           type="radio" 
           name="stockFilter" 
           value="true" 
           [(ngModel)]="selectedFilterRadioButton"
           (change)="onSelectedFilterRadioButtonChanged()" />
         <span>In Stock ({{ inStock }})</span>
       </label>
     
       <label>
         <input 
           type="radio" 
           name="stockFilter" 
           value="false" 
           [(ngModel)]="selectedFilterRadioButton"
           (change)="onSelectedFilterRadioButtonChanged()" />
         <span>Out of Stock ({{ outOfStock }})</span>
       </label>
     </div>
     