<p>add-prod works!</p>
<h2>Ajouter un produit</h2>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="form-group mb-3">
    <label for="productName">Nom du produit</label>
    <input id="productName" formControlName="productName" class="form-control" placeholder="Entrez le nom du produit">
  </div>

  <div class="form-group mb-3">
    <label for="productPrice">Prix</label>
    <input id="productPrice" type="number" formControlName="productPrice" class="form-control" placeholder="Entrez le prix">
  </div>

  <div class="form-group mb-3">
    <label for="productDescription">Description</label>
    <textarea id="productDescription" formControlName="productDescription" class="form-control" placeholder="Entrez une description"></textarea>
  </div>

  <div class="form-group mb-3">
    <label for="productCategory">Catégorie</label>
    <input id="productCategory" formControlName="productCategory" class="form-control" placeholder="Entrez la catégorie">
  </div>

  <button type="submit" class="btn btn-success">Enregistrer</button>
</form>
