<p>reset-password works!</p>
<div class="reset-password-container">
    <h2>Reset Your Password</h2>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <label for="password">New Password:</label>
      <input id="password" type="password" formControlName="password" required>
  
      <label for="confirmPassword">Confirm Password:</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword" required>
  
      <button type="submit" [disabled]="loading">Reset Password</button>
    </form>
  </div>
  