<div>
      <!-- Product Image -->
    <div class="product-image">
      <img [src]="product.productImage" class="product-image">
    </div>
  
    <!-- Product Price -->
    <div class="add-to-price">
      {{ product.productPrice | currency }}
    </div>
  
    <!-- Product Name -->
    <div class="product-name">{{ product.productName }}</div>
  
    <!-- Product Category -->
    <div class="product-category">{{ product.productCategory }}</div>

    <!-- Farmer details -->
    <div class="product-category">
      <p><strong>Farmer Name:</strong> {{ product.farmerName }}</p>
      <p><strong>Farmer ID:</strong> {{ product.farmerId }}</p>
      {{ product.productCategory }}
    </div>
    
    <!-- Product Stock Availability -->
    <div class="product-in-stock" [ngStyle]="{ fontWeight: 'bold', color: product.productStock > 0 ? 'Green' : 'Red' }">
      {{ product.productStock > 0 ? 'Available in Stock' : 'Not Available in Stock' }}
    </div>

    <!-- Show Edit button only if showEditButton is true -->
  <button *ngIf="showEditButton" (click)="onEditProduct()">Edit</button>
  
  </div>
  