.post-content {
  position: relative;
  z-index: 1;
}

.admin-actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 10; /* <-- SUPER IMPORTANT pour que les icônes soient au-dessus */
}

.article:hover .admin-actions {
  opacity: 1; /* Icônes visibles au survol de l'article */
}

.post-title {
  margin-bottom: 10px; /* Ajouter un peu d'espace entre le titre et les actions */
}




.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Ensure this is above other elements */
  pointer-events: auto;
}


.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  margin-top: 20px;
}

button.readmore {
  margin-top: 10px;
}
